* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --hue: 520;

  --primary-color: hsl(var(--hue), 41%, 47%);
  --second-color-light: hsl(293, 41%, 92%);
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --brand-beige: hsl(39, 100%, 97%);
  --brand-light: hsl(calc(var(--hue) - 1), 41%, 92%);
  --brand-light-2: hsl(calc(var(--hue) - 1), 40%, 96%);
  --brand-hover: hsl(var(--hue), 41%, 28%);

}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 98vh;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.6rem;
  text-align: center;
  overflow: overlay;
  background-color: var(--brand-light-2);
}

/* @font-face {
  font-family: 'Floren';
  src: URL('./assets/fonts/FLOREN.ttf') format('truetype');
} */

.wrapper {
  width: min(55rem, 100%);
  margin-inline: auto;
  padding-inline: 2.4rem;
  background: rgba(198, 229, 249, 0.95);
  box-shadow: 0 0 0 1rem var(--primary-color);

  transform: translate(0vh, 1vh);
  /* border: .1rem solid #DDDDDD; */
  overflow: hidden;
  justify-self: center;



}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* height: 15vh; */
  background-color: lavenderblush;
  padding: 2rem 1rem;

}

main {
  display: flex;
  flex-direction: column;
  max-height: 78vh;
  justify-content: center;
  align-items: center;
  background-color: honeydew;
  overflow: auto;

}

h1 {
  text-transform: uppercase;
  font-size: 4rem;
  color: var(--headline);
  padding-bottom: 1rem;
}

p {
  font-size: 2rem;
  color: var(--paragraph);
}

ul {
  list-style: none;
}

.taskList {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  text-align: left;
  list-style: none;
  width: 90%;
  padding-left: 5rem;
}

.taskList li {
  display: flex;
  flex: auto;
  border-bottom: .1rem solid rgba(0, 0, 0, 0.2);
  padding: 1rem 0;
  font-weight: 100;
  align-items: center;
}

.taskList label {
  flex: 1;
  cursor: pointer;
}

.taskList input:not(#updateTask) {
  display: none;
}


.taskList input+label:before {
  font-family: 'Font Awesome\ 5 Free';
  content: "\f0c8";
  margin-right: 1rem;
}

.taskList input:checked+label:before {

  font-family: 'Font Awesome\ 5 Free';
  content: "\f11a";
  margin-right: 1rem;
}

.add-tasks {
  margin-top: rem;
}

.add-tasks input {
  padding: 1rem;
  /* outline: 0; */
  border: .1rem solid rgba(0, 0, 0, 0.1);

}

.addTasks {
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.taskTitle {
  width: 19rem;
  margin-left: 2.5rem;
  /* border:2px solid #FF0000; */
  border-radius: .5rem;
  outline-color: khaki;
}

.button {
  display: flex;
  border-radius: .5rem;
  background-color: aliceblue;
  width: 1.7rem;
  height: 1.7rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  margin-left: .4rem;
  margin-right: 1rem;
}

.button:hover {
  background-color: azure;
}

.css-button-rounded--green {
  min-width: 10rem;
  height: 4rem;
  color: #fff;
  padding: 5px 12px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #57cc99;
  background: #57cc99;
  margin-right: 3rem;
}

.css-button-rounded--green:hover {
  background: #fff;
  color: #57cc99
}


.checkAll {
  padding-right: 2rem;
  color: rebeccapurple;
  margin-right: .5rem;
}

.showElement {
  display: block;
}

.hideElement {
  display: none;
}

.taskListContainer {
  background-color: whitesmoke;
  overflow-y: auto;
  justify-content: center;
  width: 95%;
  padding-bottom: 2rem;
}

footer {
  display: flex;
  height: 5vh;
  justify-content: center;
  align-items: center;
  background-color: gainsboro;
  padding: 2.5vh;
  font-size: 1.2rem;
}

@media (min-width: 1024px) {

  body {
    overflow: auto;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.5rem;
  }
}

@media (max-width:800px) {

  body {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1.3rem;
  }

  .taskList input+label:before {
    content: "⬜️";
    margin-right: 1rem;
  }

  .taskList input:checked+label:before {
    content: "🤢";
  }
  
.checkAll {
  font-size: 1.5rem;  
}

  footer {
    background-color: royalblue;
  }  
}


@media (max-width:400px) {

  body {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  p {
    font-size: 1.3rem;
  }

  .taskList input+label:before {
    content: "⬜️";
    margin-right: 1rem;
  }

  .taskList input:checked+label:before {
    content: "🤢";
  }

  .checkAll {
    font-size: 1.5rem;
  }  

  footer {
    background-color: orangered;
    
  } 
}



@media (max-height:450px) {

  header {
    height: 22vh;
    /* padding-bottom: 1rem; */
  }

  main {
    height: 65vh;
  }

  body {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2.5rem;
    color: #57cc99;
  }

  p {
    font-size: 1.3rem;
  }

  .taskList input+label:before {
    content: "⬜️";
    margin-right: 1rem;
  }

  .taskList input:checked+label:before {
    content: "🤢";
  }

  .checkAll {
    font-size: 1.5rem;
  }  

  footer {
    background-color: orangered;
    height: 6vh;
  } 
}